:root{
    --BrightBlue: hsl(220, 98%, 61%);    
    
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue1: hsl(235, 19%, 35%);

    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue2: hsl(234, 39%, 85%);
    --LightGrayishBlue3/*(hover)*/: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue2: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue3: hsl(237, 14%, 26%);
}


body{
    position:relative;
    margin:auto;
    max-width:100vw;
    display:flex;
    justify-content: center;
    background-color: var(--VeryDarkBlue);
}

p{
    user-select: none;
}

/* setting the background picture */

.bgpic{
    position:absolute;
    z-index: -1;
    min-height: 20vh;
}

.bgpic>img{
    min-width:100vw;
}

/* the big container */
.main-container{
    display:flex;
    justify-self:center;
    flex-direction: column;
}

/* the title and theme changer */
.top-part{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:2rem;
    color:var(--VeryLightGray);
}

.top-part>img{
    max-width:50%;
    max-height:50%;
}

/* the list */

.todo{
 display:flex;
 background-color: var(--VeryDarkDesaturatedBlue);
 justify-content: left;
 align-items: center;
 border-bottom:1px solid var(--VeryDarkGrayishBlue3);
 font-size:10px;
 font-family: "Josefin Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 padding:0.5em 2em;
 gap:1em;
 color:var(--LightGrayishBlue);
 cursor: pointer;
}

/* list input */

.todo-input{
    display:flex;
    justify-content:stretch;
    background-color: var(--VeryDarkDesaturatedBlue);
    gap:1em;
    color:var(--LightGrayishBlue);
    margin-bottom:1.5em;
    border-radius:8px;
    padding:1em;
    caret-color: var(--BrightBlue);
  }

  .todo-input>input{
    background-color:var(--VeryDarkDesaturatedBlue);
    border:none;
    font-size:1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding:0 5em 0 0;
    color:var(--VeryLightGray);
    outline:none;
  }

  .todo-input>input::selection{
    color:var(--BrightBlue);
  }


/* checkmark and X*/

.border {
    padding: 0.5rem;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border-radius: 50%;
    display:none;
  }

  .input-circle{
    display:block;
    width: 25px;
    height: 25px;
    border: 1px solid var(--VeryDarkGrayishBlue3);
    border-radius: 50%;
  }

  .circle {
    display:flex;
    width: 25px;
    height: 25px;
    border: 1px solid var(--VeryDarkGrayishBlue3);
    border-radius: 50%;
  }

  .circle:hover{
    border:1px solid linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  }

.todo:nth-child(1){
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.todo>p{
    color:var(--LightGrayishBlue2);
    font-size:18px;
}

.strike>p{
    text-decoration:line-through;
    color:var(--VeryDarkGrayishBlue2);
}

.todo>img{
    display:none;
}


/* the bottom filters */

.bottom-part{
    display:flex;
    justify-content: space-between;
    background-color: var(--VeryDarkDesaturatedBlue);
    padding:0 2em;
    color:var(--DarkGrayishBlue );
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}

.clear-completed:hover{
    cursor: pointer;
    color:var(--VeryLightGray);
}

.filters{
  display:flex;
  align-items: center;
  gap: 1em;
}

.filters2{
    display:none;
}

.filters>p:hover{
    color:var(--VeryLightGray);
    cursor: pointer;
}

.filters>p:focus{
    color:var(--BrightBlue);
}

/* footer */

.footer{
    display:flex;
    justify-content: center;
    margin-top:2em;
    padding-right:2em;
    display:flex;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:var(--VeryDarkGrayishBlue2);
}



/* mobile time */

@media only screen and (max-width:426px){


    .bgpic>img{
        width:100vw;
    }

    .top-part{
        gap:10em;
        font-size:1.2rem;
        padding: 1em 0;
    }

    .main-container{
        display:flex;
        justify-self:center;
        flex-direction: column;
    }
    
    /* the list */
    
    .todo-input{
        display:flex;
        justify-content:stretch;
        background-color: var(--VeryDarkDesaturatedBlue);
        border-bottom:1px solid var(--VeryDarkGrayishBlue3);
        padding: 0.5em;
        gap:1em;
        color:var(--LightGrayishBlue);
        margin-bottom:1em;
        border-radius:8px;
        padding:1em 0 1em 0.5em;
      }
    
      .todo-input>input{
        background-color:var(--VeryDarkDesaturatedBlue);
        border:none;
        font-size:1rem;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        padding:0 5em 0 0;
        color:var(--VeryLightGray);
      }

    .todo{
     display:flex;
     justify-content:stretch;
     background-color: var(--VeryDarkDesaturatedBlue);
     border-bottom:1px solid var(--VeryDarkGrayishBlue3);
     font-size:1rem;
     font-family: "Josefin Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     padding: 0.5em;
     gap:1em;
     color:var(--LightGrayishBlue);
    }

    .todo>p{
        font-size:0.9rem;
    }
    
    
    /* the bottom filters */
    
    
    .filters{
      display:none;
    }

    .filters2{
        display:flex;
        justify-content: space-around;
        background-color: var(--VeryDarkDesaturatedBlue);
        margin-top:1em;
        align-items: center;
        border-radius:8px;
        padding: 0 5em;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color:var(--DarkGrayishBlue);
        
    }

    .filters2>p:hover{
        color:var(--BrightBlue);
    }
    
    .filters>p:hover{
        color:var(--BrightBlue);
    }
    
    /* footer */
    
    .footer{
        display:flex;
        justify-content: center;
        margin-top:1em;
        padding-right:2em;
        display:flex;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color:var(--VeryDarkGrayishBlue2);
    }

}

@media only screen and (max-width:320px){
    .top-part>h1{
        font-size:1.2rem;
    }
}
